/*{% load staticfiles %}*/

body {
    background-image: url('../images/bg_dots.png');
    /*background-image:url(' static images/bg_subtle_dots.png ');*/

}

.content {
    margin-top: 80px;
}


/* navbar */
.navbar-inverse {
    background-color: #000000;
    border-color: #1416e7;
}

.navbar-custom {
    border-color: #1416e7;
}